
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
  margin: 0;
  padding: 0;
} 
/*for each element margin and padding equals 0*/

body{
  font-family: 'Outfit', sans-serif;
  font-weight: 400;
  font-size: 16px;
}

a{
  text-decoration: none;
}

img{
  max-width: 100%;
}

.wrapper{
  background: #ff9ebb;
background: linear-gradient(0deg, rgba(255, 158, 187, 1) 4%, rgba(255, 201, 130, 1) 21%, rgba(255, 216, 176, 1) 39%, rgba(255, 250, 245, 1) 68%, rgba(255, 255, 255, 1) 100%);
  width: 100%;
}

.container{
  width: 1400px;
  margin: auto;
}

header{
  padding: 50px 0;
}

header .logo{
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 800;
}

header nav{
  float: right;
  width: 50%;
}

header nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  z-index: 2;
  position: relative;
}

header nav ul li {
  display: inline-block;
}

header nav ul li a {
  color: #0e0205;
}

header nav ul li.active::after{
  content: '';
  display: block;
  width: 40px;
  height: 5px;
  background:  rgb(227, 119, 77);
  border-radius: 10px;
  position: relative;
  top: 10px;
  left: -15px;

}

header nav ul li:not(.active):not(.btn) a:hover{
  border-bottom: 5px solid rgb(227, 119, 77);
}

header nav ul li.btn a{
  background:  rgb(227, 119, 77);
  color: azure;
  padding: 9px 17px;
  border-radius: 5px;
  transition: all 500ms ease;
}

header nav ul li.btn a:hover{
  background: #ff9ebb;
}

.hero{
  padding-bottom: 100px;
  position: relative;
  z-index: 1;
}

.hero-info{
  width: 530px;
  padding-top: 70px;
}

.hero-info h2{
  font-weight: bold;
  color: rgb(227, 119, 77);
  font-size: 20px;
}

.hero-info h1{
  font-weight: bold;
  font-size: 50px;
}

.hero-info p{
  font-weight: medium;
  line-height: 170%;
  margin: 30px 0;
}
.hero-info .btn2{
  background:  rgb(227, 119, 77);
  border: none;
  font-size: 17px;
  color: azure;
  padding: 9px 17px;
  border-radius: 20px;
  transition: all 500ms ease;
}

.hero-info .btn2:hover{
  cursor: pointer;
  transform: scale(1.1);
}

.hero img {
  position: absolute;
  top: -50px;
  right: 0;
}

/*Häufig bestellte Sträuße*/

.trending{
  padding-top: 50px;
}

.trending h3{
  font-weight: bold;
  font-size: 28px;
}

.trending .see-all {
  color: white;
  background:  rgb(227, 119, 77);
  border-radius: 5px;
  padding: 8px 23px;
  float: right;
  display: block;
  transition: all 500ms ease;
}

.trending .see-all:hover{
  transform: scale(1.1);
  background: #ff9ebb;
}

.trending .buket {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 50px 0;;
}

.trending .buket span {
  display: block;
  text-align: center;
  margin-top: 20px;
}

.trending .buket span img {
  position: relative;
  top: 6px;
  margin-right: 7px;
}


.big-text{
  padding: 50px 0;
  text-align: center;
  font-size: 35px;
  font-weight: bold;
  width: 800px;
}

.small-text{
  padding: 15px 0;
  text-align: center;
  font-size: 24px;
  font-weight: 300;
  width: 800px; 
}

.palka {
  width: 100%;
  height: 2px;
  background-color: white;
  border: white solid 2px;
  border-radius: 20px;
  margin-top: 30px;
}

/*Lieferungservice*/


#iconFlower {
  position: absolute;
  top: 1595px;
}

.lieferung h3{
  font-weight: bold;
  font-size: 28px;
  padding-left: 50px;
}

#textLieferung {
  padding: 15px 0;
  text-align: start;
  margin-bottom: 30px;
}

.lieferung {
  padding-top: 50px;
}

.lieferung .auswahl {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.lieferung .auswahl img {
  border: white solid 4px;
  border-radius: 50px;
}

.lieferung .auswahl span {
  display: block;
  text-align: start;
  margin-top: 20px;
}

.lieferungBeschreibung {
  width: 400px;
  float: inline-start;
}

.lieferung .auswahl:not(.lieferungBeschreibung) {
  font-weight: 600;
}
.lieferungBeschreibung p {
  font-weight: 300;
}

.lieferung {
  padding-bottom: 30px;
}

/*
.lieferung span img {
  position: relative;
  top: -20px;
  margin-left: -7px;
}*/


/*.auswahl img {
  position: relative;
  top: 6px;
  margin-right: 7px;
}*/


/*.auswahl span {
  display: block;
  justify-content: space-between;
  text-align: center;
  margin-top: 20px;
}*/

/*KONTAKTDATEN

.kontaktinfo h3 {
  padding: 30px;
}

.kontakt .palka {
  width: 100%;
  height: 2px;
  background-color: white;
  border: white solid 2px;
  border-radius: 20px;
  margin-top: 30px;
}

.kontaktinfo ul li {
  list-style: none;
  
}

.kontaktinfo ul {
  margin-top: 20px;
  display: flex;
  justify-content: space-evenly;
}

.kontaktinfo {
  text-align: center;
  margin-top: 20px;
}*/

footer {
  background: #ffe7ed;
  padding: 50px 0;
}

footer .blocks {
  display: flex;
  justify-content: space-between;
}

footer .blocks p {
  width: 300px;
  margin: 15px 0;
}

footer .blocks h4 {
  font-weight: 500;
  font-size: 17px;
}

footer .blocks ul {
  list-style: none;
}

footer .blocks ul li { 
  margin-top: 7px;
  opacity: 0.8;
}

hr {
  margin: 30px 0;
  border: 0;
  height: 0.6px;
  background: #f18eac;
}


footer > p { /*tolko k tomu abzazu kotorui prenadlejit footer*/
  text-align: center;
}