
@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');


body{
  /* background-color: #dddddb; */
  font-family: "Prata", serif;
  margin: 0;
  padding: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 100vh;
  box-sizing: border-box;
}


.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.prata-regular {
  font-family: "Prata", serif;
  font-weight: 400;
  font-style: normal;
}

.goback-button button{
   background-color: #951623;
   border: #951623 2px solid;
   border-radius: 50px;
   padding: 10px 20px;
   color: #dddddb;
   font-weight: bold;
   font-size: 16px;
   margin: 10px 10px;
}

.goback-button button:hover{
   background-color: #c3414e;
   border: #c3414e 2px solid;
    transform: scale(1.1);
    transition: all 0.3s ease;
}


header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    background-color: #130303;
   
}


#logo{
    width: 20px 20px;
}


.header ul{
    text-align: right;
    padding-top: 30px;
    margin-right: 30px;
    font-size: 20px;
}


.header li::before{
    content: "|";
    color:#dddddb;
    padding-right: 35px;
}


.header li:first-child::before{
    content: "";
    padding: 0;
}


.header li:last-child{
    margin-right: 100px;
}

.header li{
    transition: all 0.3s ease;
    font-family: 'Times New Roman', Times, serif;
    display: inline;
}


.header a{
    color: #dddddb;
}


.header li:hover{
    
    text-decoration: underline;
    color: #dddddb;
}

nav ul li a{
    text-decoration: none;
}

/* logo design */

#logo{
    color: #dddddb;
    font-size: 40px;
    padding-left: 100px;
    padding-top: 30px;
}

#logo img {
   width: 200px;
   height: auto;
}




.wrapper{
  background: #ff9ebb;
background: linear-gradient(0deg, rgb(254, 198, 183) 4%, rgb(254, 163, 138) 21%, rgb(255, 101, 135) 39%, rgb(71, 39, 6) 68%, rgb(56, 1, 1) 100%);
  width: 100%;
}

.hr1{
  margin: 30px 0;
  border: 0;
  height: 1.9px;
  background: #7d062a;
}

/* SECTION 1 */



.goback-button button{
   background-color: #951623;
   border: #951623 2px solid;
   border-radius: 50px;
   padding: 10px 20px;
   color: #dddddb;
   font-weight: bold;
   font-size: 16px;
   margin: 10px 10px;
}

.goback-button button:hover{
   background-color: #c3414e;
   border: #c3414e 2px solid;
    transform: scale(1.1);
    transition: all 0.3s ease;
}

/* .uber-teil{
  background-color: #5B1F23;
} */

.uber-img {
    position: relative;
    text-align: center;
}

.uber-img img {
    width: 1000px;
    height: auto;
}

.uber-text {
    padding: 20px;
    color: #dddddb;
}

.uber-text-inner {
    max-width: 1000px;
    margin: 0 auto;
}

.uber-text h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.uber-text p {
    font-size: 16px;
    line-height: 1.5;
}
   

.uber-text ul li {
    margin-bottom: 10px;
    text-decoration: dotted;
}

/* SECTION 2 */


.ausbildung-teil{
  margin: 0 auto;
  padding: 50px 0;
}

.ausbildung-teil h1{
  text-align: center;
  font-size: 36px;
  margin-bottom: 80px;
  color: #130303;
  font-family: 'Outfit', sans-serif;
  color: #dddddb;
}


.ausbildung-teil .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ausb-img img {
  width: 300px;
  margin: 20px 20px;
}

.ausb-text {
  max-width: 40%;
  margin-left: 50px;
}

.ausb-text button {
    background-color: #7d062a;
    border: #7d062a 2px solid;
    border-radius: 25px;
    padding: 10px 20px;
    color: #dddddb;
    font-weight: bold;
    font-size: 16px;
}

.ausb-text button:hover {
    background-color: #ce6d8f;
    border: #ce6d8f 2px solid;
    transform: scale(1.1);
    transition: all 0.3s ease;
}

.block {
  background-color: #fffde944;
  border-radius: 45px;
}


/* FOOTER */

footer {
  font-family: 'Outfit', sans-serif;
  background: #ffe7ed;
  padding: 50px 0;
}

footer .blocks {
  display: flex;
  justify-content: space-between;
  gap: 30px;    
  flex-wrap: wrap; 
}

footer .blocks p {
  width: 300px;
  margin: 15px 0;
}

footer .blocks h4 {
  font-weight: 500;
  font-size: 17px;
}

footer .blocks ul {
  list-style: none;
}

footer .blocks ul li { 
  margin-top: 7px;
  opacity: 0.8;
}

hr {
  margin: 30px 0;
  border: 0;
  height: 0.6px;
  background: #f18eac;
}


footer > p { 
  text-align: center;
}

footer  a {
  text-decoration: none;
}