@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');



body{
  background-color: #1e0a0a;
  font-family: "Prata", serif;
  margin: 0;
  padding: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 100vh;
  box-sizing: border-box;
}


h1{
    color:#dddddb;
    font-family: 'Outfit', sans-serif;
    font-weight: bold;
}


.goback-button button{
   background-color: #951623;
   border: #951623 2px solid;
   border-radius: 50px;
   padding: 10px 20px;
   color: #dddddb;
   font-weight: bold;
   font-size: 16px;
   margin: 10px 10px;
}

.goback-button button:hover{
   background-color: #c3414e;
   border: #c3414e 2px solid;
    transform: scale(1.1);
    transition: all 0.3s ease;
}


.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}



.prata-regular {
  font-family: "Prata", serif;
  font-weight: 400;
  font-style: normal;
}


header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    background-color: #130303;
   
}


#logo{
    width: 20px 20px;
}


.header ul{
    text-align: right;
    padding-top: 30px;
    margin-right: 30px;
    font-size: 20px;
}


.header li::before{
    content: "|";
    color:#dddddb;
    padding-right: 35px;
}


.header li:first-child::before{
    content: "";
    padding: 0;
}


.header li:last-child{
    margin-right: 100px;
}

.header li{
    transition: all 0.3s ease;
    font-family: 'Times New Roman', Times, serif;
    display: inline;
}


.header a{
    color: #dddddb;
}


.header li:hover{
    
    text-decoration: underline;
    color: #dddddb;
}

nav ul li a{
    text-decoration: none;
}

/* logo design */

#logo{
    color: #dddddb;
    font-size: 40px;
    padding-left: 100px;
    padding-top: 30px;
}

#logo img {
   width: 200px;
   height: auto;
}



button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border: solid 2px #b32323;
    border-radius: 25px;
    text-align: center;
    text-decoration: none;
    transition: all 0.3s ease;
    color: #ddd;
    background-color: #b32323;
    border-color: #b32323;
    margin: 20px;
}

button:hover{
    color: #b32323;
    background-color: transparent;
    border-color: #b32323;
}

.filters{
    margin-left: 100px;
}

.filters p{
    font-family:'Outfit', sans-serif;
    color:#dddddb;
    font-size: 20px;
    font-weight: bold;
     
}


footer {
  font-family: 'Outfit', sans-serif;
  background: #ffe7ed;
  padding: 50px 0;
}

footer .blocks {
  display: flex;
  justify-content: space-between;
  gap: 30px;    
  flex-wrap: wrap; 
}

footer .blocks p {
  width: 300px;
  margin: 15px 0;
}

footer .blocks h4 {
  font-weight: 500;
  font-size: 17px;
}

footer .blocks ul {
  list-style: none;
}

footer .blocks ul li { 
  margin-top: 7px;
  opacity: 0.8;
}

hr {
  margin: 30px 0;
  border: 0;
  height: 0.6px;
  background: #f18eac;
}


footer > p {
  text-align: center;
}

footer  a {
  text-decoration: none;
}

